@import "tailwindcss";
/* @config "../tailwind.config.js"  */
@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: 'Outfit', sans-serif;
}

/* Optional Ovo font utility */
.font-Ovo {
  font-family: 'Ovo', serif;
}

.font-Outfit {
  font-family: 'Outfit', sans-serif;
}

/* Custom hover background colors */
.lighthover:hover {
  background-color: #f3e8ff;
}

.darkhover:hover {
  background-color: #2a004a;
}

.darktheme:hover {
  background-color: #11001F;
}

.shadow-black:hover {
  box-shadow: 4px 4px 0 #000;
}

/* .shadow-black{
  box-shadow: 4px 4px 0 #000;
} */

.shadow-white {
  box-shadow: 4px 4px 0 #fff;
}

/* .gridTemplateColumns{
  'auto': 'repeat(auto-fit, minmax(200px, 1fr))';
} */
.grid-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* gap: 1.5rem;  optional */
}